@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}
body
{
	overflow-x: hidden;
}
.pagination
{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 10px;
	background: #20b2aa;
}
.pagination ul
{
	display: flex;
	background: #fff;
	padding: 8px;
	border-radius: 60px;
}
.pagination ul li
{
	list-style: none;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}
.pagination ul li.numb
{
	width: 45px;
	height: 45px;
}
.pagination ul li.btn-pagination
{
	padding: 0 20px;
}
.pagination ul li.prev
{
	border-radius: 25px 5px 5px 25px;
}
.pagination ul li.next
{
	border-radius: 5px 25px 25px 5px;
}
.pagination ul li.active, 
.pagination ul li.numb:hover, 
.pagination ul li.btn-pagination:hover
{
	background: #20b2aa;
}